/*Fix long dropdwon text*/
.dropdown-menu {
    width: 100%;
}

.active-tab {
	color: #f00;
}

.dropdown-menu li a {
    word-wrap: break-word;
    white-space: normal;
}

.progress {
	margin-bottom: 0px !important;
}

.progress-bar {
	color: #000000 !important;
	font-weight: bold;
}