application/config/database.php
application/modules/FtpService/config/ftpservice.php
application/logs/*

# exclude everything
public/uploads/*

# exception to the rule
!public/ftpservice/uploads/.gitkeep 
/nbproject/*